body{
    #block-menu-container,.sc-gsTCUz{
        z-index: 1100;
    }
}

.type-html{
    .ant-form-item-control{
        .ant-form-item-control-input-content{
            li{
                list-style: auto;
            }
            ul{
                li{
                    list-style: disc;
                }
            }
        }
    }
}