// 选中的选项附带的icon样式
.select-field-container{
    .ant-select {
        .ant-select-selection-item{
            display: flex;
            // 单选
            .anticon-smile{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 7px;
            }
            // 多选
            .ant-select-selection-item-content{
                display: flex;
            }
        }
    }
}

.type-select.mode-read{
    .select-color{
        border-radius: 10px;
        padding: 1px 6px;
        border: 1px;
        display: inline-block;
    }
    .select-multiple{
        margin-right:1px;
    }
    @media (max-width:767px) {
        .select-multiple{
            margin-right:4px;
        }
    }
}